.menu {
    width: 500px;
    height: 500px;
    /* text-align: left; */
    margin: 0 auto;    
    border-radius: 20px;
    padding-top: 50px;
    margin-top: 50px;
    
}

.buttons {
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}

.buttons .button-lotacao {
    top: 30px;
    justify-content: center;
}