.container-table {    
    text-align: center;
    width: 900px;
    height: 500px;
    margin: 0 auto;    
    padding-top: 50px;
    top: 20px;   
}

table {
    width: 900px;
    height: 500px;    
}

a {
    text-decoration: none;
    color: #2F6CC7;
}

a:hover {
    color: #2f97c7;
    text-decoration: none;
}

.container-table .nova-consulta {
    margin-top: 30px;
    
}

.titulo {
    font-size: 24px;
    text-align: center;   
}

button {
    width: 150px;
}